In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')
%matplotlib inline

In [4]:
sales = pd.read_csv('data/sales-feb-2015.csv', index_col='Date', parse_dates=True)

In [6]:
sales.head()

                       Company   Product  Units
Date
2015-02-26 08:57:45  Streeplex   Service      4
2015-02-16 12:09:19      Hooli  Software     10
2015-02-03 14:14:18    Initech  Software     13
2015-02-02 08:33:01      Hooli  Software      3
2015-02-25 00:29:00    Initech   Service     10